.back {
    width: 100%;
    height: 200vh;
    background-image:linear-gradient(40deg, #333, #555, #789)
}
.box {
    width: 600px;
    height: 340px   ;
    background-color: rgb(2, 1, 44);    
    position:absolute ;
    /* background-position: center; */
    /* margin-top: 0%   ; */
    margin-left: 27%;
}
.text {
    font-size: 20px ;
    color: red;
    text-align: center;
    padding-top: 7%;
}
.ip {
    margin-left: 160px;
    margin-top: 100px;
}
    .ip1 {
        margin-left: 160px;
        margin-top: 25px;
    }
.test {
    width: 250px;
    height: 23px;
    border: 3px solid rgb(2, 1, 44);
}
button {
    margin-top: 30px;
    font-size: 20px;
    margin-left: 220px;
}
.tx {
    font-size: 20px;
    color:aqua;
    padding-left: 1%;

}
.tx1 {
    font-size: 20px;
    color:aqua;
    padding-left: 8%;
}